@import "~normalize.css/normalize.css";
@import "~rodal/lib/rodal.css";

.rodal-dialog {
  padding: 0 !important;
  border-radius: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Corporate-Logo-Rounded", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Segoe UI", sans-serif;
}

.title {
  font-size: 32px;
  color: red;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  user-select: none;
  display: block;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  // margin-bottom: 80px; // フッターの高さ
  background-color: #fffdf0;
}
