@import "~normalize.css/normalize.css";
@import "~rodal/lib/rodal.css";

@font-face {
  font-family: "Corporate-Logo-Rounded";
  src: url("/fonts/corp_round_v1.ttf") format("truetype");
}

.rodal {
  display: flex;
  justify-content: center;
  align-items: center;

  .rodal-dialog {
    padding: 0 !important;
    border-radius: 16px;
    top: inherit;
    bottom: inherit;
    position: relative;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Corporate-Logo-Rounded", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Segoe UI", sans-serif;
}

.title {
  font-size: 32px;
  color: red;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  user-select: none;
  display: block;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  // margin-bottom: 80px; // フッターの高さ
  background-color: #fffdf0;
}

// ローディングサークルのスタイル

$a: -2px;

.loader {
  width: 50px;
  height: 50px;
  border: 2px solid #0cf;
  border-radius: 50%;

  animation: spin 1.5s infinite linear;
}
.loader::before,
.loader::after {
  left: $a;
  top: $a;
  display: none;
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}

.loader-2 {
  border-top-color: transparent;
}
.loader-2::after {
  display: block;
  left: $a;
  top: $a;
  border: inherit;
  transform: rotate(30deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
