@import "~normalize.css/normalize.css";

.title {
  font-size: 32px;
  color: red;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 80px;
}
